<!DOCTYPE html>
<html>
<head>
    <title>Collecting Server</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

<h1> Collecting Server is up </h1>

<h2> Election Title: <%= manifest.title %> </h2>
<h2> Election ID: <%= manifest.electionID %> </h2>
<h3> Start time: <%= manifest.startTime %> </h3>
<h3> End time: <%= manifest.endTime %> </h3>
<h3> <a href="/manifest"> Election manifest</a> </h3>
<h2> Status: <%= (active ? 'Active' : 'Closed') %>  </h2>
<% if (resultReady) { %>
    <h3><a href='result.msg'>Partial result</a> is ready</h3>
<% } %>

<% if (active) { %>
    <hr>
    <h3><a href='close'>[close the election]</a></h3>
<% } %>

</body>
</html>
