<% include header -%>

<h1> Cast </h1>
<h2> Election Title: <%= manifest.title %> </h2>
<h2> Description: <%= manifest.description %> </h2>

<p> Hello <%= email %> </p>

<p> You have chosen: <%= choice %>.  </p>
<p> Ballot has been accepted by the collecting server. </p>
<p> Receipt ID: <%= receipt_id %> </p>
<p> InnerBallot: <%= inner_ballot %> </p>

<% include footer -%>
