<!DOCTYPE html>
<html>
<head>
    <title>Collecting Server</title>
    <link rel='stylesheet' href='../css/style.css' />
</head>
<body>

<h1> Collecting Server is up </h1>

<h2> Election ID: <%= manifest.hash %> </h2>
<h2> Election Title: <%= manifest.title %> </h2>
<h2> Time to open: <%= openingTime %> </h2>
<h2> Time to close: <%= closingTime %> </h2>
<h2> Status: <%= status %>  </h2>

<h3> <a href="../manifest"> Election manifest</a> </h3>

<% if (resultReady) { %>
    <h3><a href='../result.msg'>Partial result</a> is ready</h3>
<% } %>

<% if (active) { %>
    <hr>
    <button onclick="showPrompt()">Close Election</button>
<% } %>


<div id="popup">
<div class="body">
     <p>Are you sure that you want to close this election?</p>
     <p></p>
     <button style="float: right;" onclick="closeElection()">Yes</button>  
     <button onclick="cancel()">No</button>  
</div>
</div>
<script>
function showPrompt() {
	document.getElementById("popup").style.visibility = "visible";
}
function cancel(){
	document.getElementById("popup").style.visibility = "hidden";
}
function closeElection(){
	document.getElementById("popup").style.visibility = "hidden";
	csServer = window.location.href + "/../close";
	
	xhr = new XMLHttpRequest();
	xhr.open('POST', csServer);
	xhr.send();
	location.reload()
}
</script>
</body>
</html>
